body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f8f9fa;
  color: #333;
}

h1, h2, h3 {
  font-weight: 600;
  color: #333;
}

p {
  color: #666;
}

main {
  margin-left: 260px; /* To avoid overlapping the sidebar */
  padding: 20px;
}
